* {margin: 0; padding: 0;}
header {
    height: 900px;
    width: 100%;
    border-bottom: 1px solid black;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
}
header nav {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    height: 40px;
    line-height: 40px;
    display: block;
    border: 1px solid black;
}
header nav span {
    letter-spacing: 1px;
    float: left;
    height: 30px;
    margin: 0 20px;
}
header nav span:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}
.head {
    position: relative;
    background-color: rgba(222, 222, 222, .7);
    top: 30px;
    left: 20px;
    width: 300px;
}
.head div:nth-child(1){
    font-size: 30px;
}
.head div:nth-child(2){
    height: 25px;
}
